{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 my-4 text-center">
                <h3>Мои рецензии</h3>
            </div>
            {% for review in reviews %}
                <div class="col-12 my-4">
                    <p><b>Книга:</b> {{ review.book.name }}</p>
                    <p><b>Оценка:</b> {{ review.rating }}</p>
                    <p><b>Текст:</b> {{ review.text }}</p>
                    <p><b>Дата:</b> {{ review.created_at.strftime('%d.%m.%Y %H:%m') }}</p>
                    <p><b>Статус:</b> {{ review.status.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
